
.listCardOfertas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3rem 1rem;
    background-color:transparent;
}
.container-listCards{
    width: 85%;
    display: flex;
    flex-direction: column;
}
.listCardOfertas_header{
    border-bottom: 2px solid var(--color-verde);
}
.listCardOfertas_header{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-letras);
    text-shadow: 0px 0px 3px var(--color-letras);
}
.cards-Ofertas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    padding: 2rem;
}
.card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5rem;
    border-radius: 25px;
    width: calc(50% - 1rem);
    border: 1px solid var(--color-verde);
    background-color: var(--color-verde);;
    color: var(--color-letras);
    text-decoration: none;
    box-shadow: 0px 0px 25px var(--color-verde);

}
.card:hover{
    background-color: var(--color-fondo);
    color: var(--color-verde);
}

.card_img{
    width: 100px;
}
.card_img img{
    width: 100%;
    border-radius: 50%;
}
