.homePage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--color-blanco);
}
.homePage_about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
    padding:3rem;
    width: 90%;
    max-width: 1200px;
    background-color: var(--color-blanco);
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0px 0px 25px var(--color-letras);
    
}
.about_contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 80%;
}
.about_contenido h1{
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--color-letras);
    text-shadow: 0px 0px 3px var(--color-letras);
}
.about_contenido p{
    font-size: 1.2rem;
    width: 80%;
    color: var(--color-letras);
}
.about_btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.about_btns_btn-public{
    border-radius: 15px;
    border: 1px solid var(--color-verde);
    background-color: transparent;
    color: var(--color-verde);
    font-size: 1rem;
    font-weight: 700;
    transition: all ease-in-out .4s;
}
.about_btns_btn-public:hover{
    background-color: var(--color-verde);
    color: #fff;
}
.about_btns_btn-recibe{
    width: 220px;
    border-radius: 15px;
    border: 1px solid var(--color-verde);
    background: var(--color-verde);
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
}
.about_btns_btn-recibe:hover{
    background-color: transparent;
    color: var(--color-verde);
}
.about_estadisticas{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 1rem;
    background-color: var(--color-verde);
    border-radius: 15px;
    padding: 1rem 1.5rem;
}
.estadisticas_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 2rem;
    width: 100%;
}
.estadisticas_list_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .2rem;
}
.estadisticas_list_container h3{
    font-size: 2rem;
    color: var(--color-letras);
    text-shadow: 0px 0px 3px var(--color-letras);

}.estadisticas_list_container span{
    color: var(--color-letras);
}
.partners{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    border-radius: 15px;
    background: var(--color-blanco);
    box-shadow: 0px 0px 25px var(--color-letras);

}
.partners_list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}
.partners_list li{
    width: 10%;
}
.partners_list li img{
    width: 100%;
}

@media (max-width:768px){
    .about_estadisticas{
        width: 100%;
    }
    .partners{
         border-radius: 0px;
    }
    .partners_list .img{
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 1050px) {
    .about_estadisticas{
        width: 70%;
    }
}